*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    background: linear-gradient(135deg,#008bff,#20ffb8);
    padding:10px;
    width:100%;
    min-height:100vh;
}
.converter{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.converter h1{
    color:#008bff;
    display: flex;
    align-items:center;
    margin-bottom:20px;
}
.row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row input{
    border: 0;
    outline: 0;
    background: #fff;
    color: #555;
    padding: 5px 20px,5px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 10px;
    font-size: 18px;
}
.row button{
    border: 0;
    outline: 0;
    background: #fff;
    border-radius: 50%;
    width:60px;
    height: 60px;
    cursor: pointer;
}
.row button img{
    width: 60px;
}
.row2 button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #20ffb8;
    color: #fff;
    font-size:16px;
    cursor: pointer;
    border-radius:40px;
}
.row2 h2{
    border: 0;
    outline: 0;
    background: #fff;
    color: #555;
    padding: 20px 20px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 5px;
    font-size: 18px;
}