*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    background: linear-gradient(135deg,#008bff,#20ffb8);
    padding:10px;
    width:100%;
    min-height:100vh;
}
.converter{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.converter h1{
    color:#008bff;
    display: flex;
    align-items:center;
    margin-bottom:20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.row input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.row button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width:60px;
    height: 60px;
    cursor: pointer;
}
.row button img{
    width:60px;
}